@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Playwrite+AU+QLD:wght@100..400&display=swap');

.heading{
    font-family: "Playwrite AU QLD", cursive;
}

.paragraph{
    font-family: "Ojuju", sans-serif;
}

/* css reset */
*{
    margin:0;
    padding:0;
    font-family:"Ojuju", sans-serif;

}

div.main-title {
    background-color: red;
    padding: 20px;
    text-align: center;
}

div.main-title h1{
    color: white;
    border-radius: 20px;
    display: inline-block;
    border: white 5px solid;
    padding: 10px;
    font-family: "Playwrite AU QLD", cursive;
}
.edit-image{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.edit-image img:hover{
border-bottom: gray 4px solid;
border-top:gray 4px solid;
border-left:gray 4px solid ;
border-right:gray 4px solid; 
}

nav.nav-content{
    background-color: gray;
    text-align: center;
    padding: 15px;
    
}

nav.nav-content a{
    color: white;
    margin: 100px;
    text-decoration: none;

}


div.banner-container img{
    width: 100%;
    border-bottom: 10px red solid;
}

div.main-body h1{
    color: white;
    text-align:center;
    font-size: 80px;
    line-height: 50px;
    padding: 20px;
    margin: 10px;
    position: absolute;
    bottom: 100px;
    left: 550px;
    border: white 4px solid;
    padding: 30px;

}
.main-body h1:hover{
    background-color: red;
}

div.main-body p{
    text-align: justify;
    margin: 0px 100px 0px 100px;
    font-size: 25px;

}


div.footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 25px;
    font-size: 20px;
}

div.mainbody h1{
    font-size: 25px;
    text-align: center;
    color: red;
    
}   

div.friend{
    background-color: lightgray;
    text-align: center;
    margin: 30px 80px;
    border-radius: 25px;
    padding: 20px;
}

div.friend h3{
    color: red;
    font-size: 25px;

}
div.friend p{
    font-size: 25px;
    text-align: justify;
    line-height: 30px;
}

div.main-body h4{
    color: red;
    font-size: 30px;
    text-align: center;
    padding: 25px;

}

div.images{
    text-align: center;
    margin: 50px;

}

div.images img{
    border-bottom: red 8px solid;
    margin: 15px;
}

img.body{
    position: absolute;
    text-align: center;
    width: 100%;
    margin: 20px;
    position: relative;
}

div.form-container {
    position: absolute;
    display: block;
    padding: 30px;
    top: 400px;
    left: 100px;
    background-color: lightgrey;
    border-radius: 35px;;
    
}

input {
    display: block;
    font-size: 30px;
    margin: 15px;
    
}

div.last-button{
background-color: red;
}
    
input.inner{
    background-color: red;
    color: white;
    padding: 10px 10px;
}

textarea{
    font-size: 30px;
}